@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    padding: 0 10%;
    height: 80px;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    z-index: 10;
    background-color: rgb(86, 123, 91);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.1);
}

nav li {
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    width: 180px;
}

nav a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: all 1s;
}

nav a:hover {
    color: #fff;
    background-color: rgba(40, 40, 40, 0.1);
}

body {
    font-family: 'Lora', serif;
    padding: 20px 50px 150px 50px;
    font-size: 30px;
    color: #333;
}

h2 {
    font-family: 'Lato';
    padding: 100px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 3rem;
    color: rgb(100, 145, 106) 
}

h3 {
    font-family: 'Lato';
    padding-bottom: 10px;
    padding-top: 25px;
    font-style: italic;
    color: rgb(100, 145, 106) 
}

ul {
    margin: 0;
    list-style-position: inside;
}

ul li {
    padding: 5px 0px 5px;
}

ol {
    margin: 0;
    list-style-position: inside;
}

ol li {
    margin: 0px;
    padding: 5px 0px 5px;
}

.recipe-img-container {
    padding: 1rem 0 1rem;
}

.recipe-img-container img {
    width: 35%;
    height: auto;
}

